# Node modules
node_modules/

# Yarn lock file
yarn.lock

# VS Code extensions and settings
.vscode/
out/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
*.d.ts

# VS Code specific extension package files
*.vsix
.vscode-test/

# Coverage reports
coverage/
.nyc_output/

# Dependency directories
jspm_packages/
bower_components/

# Miscellaneous
.DS_Store
Thumbs.db

# Affinity Cache file
src/icon.png~lock~
